/* page variables and themes */
:root {
	--font-size: 16px;
	--s: 0.5rem;
	--s-h1: 1.5rem;
	--s-container: 70em;
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-fg: black;
		--c-bg: white;
		--c-sb: lightgray;
		--c-links: blue;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-fg: white;
		--c-bg: black;
		--c-sb: darkslategray;
		--c-links: gray;
	}
}
