matrix-event {
	margin-bottom: var(--s);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	&:not([flag-sanitizer="true"]) matrix-event-text {
		white-space: pre-wrap;
		word-wrap: anywhere;
	}
}
matrix-event-state {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	time {
		font-size: var(--fs-s1);
	}
}
